<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../styles/style.css" />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/NirdoshL/office/main/logo%20(1).ico"
      sizes="48x48"
    />
    <title><%= title %>| HighLands Indian Cuisine</title>
    <style>
      .header-right {
        width: calc(100% - 3.5rem);
      }
      .sidebar:hover {
        width: 16rem;
      }
      @media only screen and (min-width: 768px) {
        .header-right {
          width: calc(100% - 16rem);
        }
      }
    </style>
  </head>

  <body
    class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white text-black"
  >
    <!-- header -->
    <%- include("header.ejs") %>
    <!-- header -->

    <!-- Sidebar -->
    <%- include("sidebar.ejs") %>
    <!-- Sidebar -->

    <!-- main -->
    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
      <div class="h-full ml-14 mt-14 mb-10">
        <div class="mt-4 mx-4">
          <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
              <table class="w-full">
                <thead>
                  <tr
                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b  bg-gray-50"
                  >
                    <th class="px-4 py-3">Conformation Id</th>
                    <th class="px-4 py-3">Refund Reason</th>
                    <th class="px-4 py-3">Refund description</th>
                    <th class="px-4 py-3">Order Email</th>
                    <th class="px-4 py-3">Image</th>
                    <th class="px-4 py-3">Refund</th>   
                  </tr>
                </thead>
                <tbody
                  class="bg-white divide-y"
                >
                  <% refund.map((r, index) => { %>
                  <tr
                    key="<%= index %>"
                    class="bg-gray-50  hover:bg-gray-100 text-gray-700"
                  >
                    <td class="px-4 py-3">
                      <div class="flex items-center text-sm">
                        <div
                          class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                        >
                          <img
                            class="object-cover w-full h-full rounded-full"
                            src="https://th.bing.com/th/id/OIP.yYkxTSe5CN85PoxJcQj8ngHaGJ?rs=1&pid=ImgDetMain"
                            alt=""
                            loading="lazy"
                          />
                          <div
                            class="absolute inset-0 rounded-full shadow-inner"
                            aria-hidden="true"
                          ></div>
                        </div>
                        <div>
                          <p class="font-semibold"><%= r.chargeId %></p>
                        </div>
                      </div>
                    </td>
                    <td class="px-4 py-3 text-sm"><%= r.refundReason %></td>
                    <td class="px-4 py-3 text-xs">
                      <span
                        class="px-2 py-1 font-semibold leading-tight text-green-700 rounded-full"
                      >
                        <%= r.refundDescription %>
                      </span>
                    </td>
                    <td class="px-4 py-3 text-sm"><%= r.orderEmail %></td>
                    <td class="px-4 py-3 text-sm"><a class="px-4 py-3 text-sm" href="<%= r.imageUrl %>" target="_blank">Product Image</td>
                    <td>
                        <form   
                        action="/api/v1/payment/secret/78923847834326487sdhsdhkjfjsd/refund"
                        method="POST">
                            <input type="text" name="chargeId" value="<%= r.chargeId %>" hidden/>
                            <input type="text" name="refundReason" value="requested_by_customer" hidden/>
                            <input type="text" name="x-csrf-token" value="<%= token %>" hidden />
                            <input type="text" name="refundAmount" placeholder="amount" />
                            <button class="bg-red-600 p-1 rounded-md text-white" type="submit">Refund</button>
                        </form>
                    </td>
                  </tr>
                  <% }) %>

                  <!-- on -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main -->
  </body>
</html>
